<%if @supply.errors.any?%>
  <%=render partial: 'errors'%>

  <h2> If you'd like to try donating again: </h2>
  <br>
  <%= render partial: 'donate', locals:{supply:@supply}%>
  <%else%>

    <%#<h2> Thank you for donating towards: <bold> <%= @supply.name </bold>  </h2> %>

<%end%>

  <h1> <%=@supply.name%> || <%= number_to_currency(@supply.donations)%> out of <%= number_to_currency(@supply.goal)%> donated! </h1>
  <h3> Price: <%= number_to_currency(@supply.price)%></h3> <br>
  <p> Quantity needed: <%= @supply.quantity%> </p> <br>
  <p> Description: <%= @supply.description%> </p> <br>


<h3> <%=link_to "Click here to go back to #{@supply.category.name}", category_path(@supply.category)%></h3>

<br>



<br>
