<%if @supply.errors.any?%>
  <%=render partial: 'errors'%>

  <h3> If you'd like to try donating again: </h3>
  <br>
  <%= form_for @supply, url: category_supply_donate_path(@category,@supply) do |f|%>
    <p><%= f.text_field :donations, value: "0"%>
    <%=f.submit "Donate now!"%></p>
    <%end%>
  <%else%>

    <h1> Thank you for donating towards: <bold> <%= @supply.name%> </bold>  </h1>

<%end%>



<%=link_to "Click here to go back to #{@supply.category.name}", category_path(@supply.category)%>

<br>



<br>
