
<h1 id="toolsforschool"> Tools For School </h1>


<% @categories.each do |category|%>
<h3 id="category-<%category.id%>"><%= category.name %></h3>

<div id="category-supplies-<%=category.id%>">
</div>
<button class="js-more" data-id="<%=category.id%>">See <%= category.name%></button>
<button><%= link_to "Donate towards #{category.name}", category_path(category)%> </button>

<%end%>



<script type="text/javascript" charset="utf-8">
$(function(){
  $(".js-more").on("click", function(){
    var id= $(this).data("id");
    $.get("/categories/" + id + "/supplies_data", function(data) {
      var supplies = data ;
      var list = document.getElementById("category-supplies-" + id)
      list.innerHTML = ""
      supplies.forEach(function(supply){
        list.innerHTML+='<p>' + supply.name + ' | $' + supply.price + '<br></p><br>'
      });
    });
  });
  $(document).on('click','.more-supply',function() {

  });
})
</script>
