
<h1 id="toolsforschool"> Tools For School </h1>


<% @categories.each do |category|%>
<h3 id="category-<%category.id%>"><%= category.name %></h3>

<div id="category-supplies-<%=category.id%>">
</div>
<button class="js-more" data-id="<%=category.id%>">See <%= category.name%></button>
<button><%= link_to "Donate towards #{category.name}", category_path(category)%> </button>

<%end%>



<script type="text/javascript" charset="utf-8">
  var categorySupply;
$(function(){
  $(".js-more").on("click", function(){
    var id= $(this).data("id");
    /*get category information */
    $.get("/categories/" + id + ".json", function(data) {
      var supplies = data.supplies ;
      console.log(supplies)
      var list = document.getElementById("category-supplies-" + id)
      list.innerHTML = ""
      /* print out a short edited form of each supply in the category*/
      supplies.forEach(function(data){
        console.log(data)
        if(data.description == null){
          data.description = " - "
        }
        categorySupply = new Supply(data.name, data.price, data.quantity, data.description. id, data.id)
        list.innerHTML+= categorySupply.shortFormat()
      });
    });
  });
  $(document).on('click','.more-supply',function() {

  });
})
</script>
