
<h1 class="category-name"> <%= @category.name%> </h1> <br>
<button disabled class = "prev-category" data-id="<%=@category.id%>">Previous Category </button> || <button class="next-category" last-category-id= "<%=Category.last.id%>" data-id="<%=@category.id%>"> Next Category</button>
<br><br>

<button class="next-supply" supplyData-id="1" data-id="<%=@category.id%>"data-userid="<%=@user.id%>"> Next Supply </button>
  <div class="supply-info">
  <h4 class="supply-heading"> hi</h4> <br>
  <p>PRICE: <span class="supply-price"></span> </p>
  <p> QUANTITY: <span class="supply-quantity"> </span></p>
  <p> DESCRIPTION: <span class="supply-description"><span></p>
  <p class="edit-delete-supply"></p>
    <!---<% if current_user.id == @supply.user_id%>
      <p><%= link_to "Edit", edit_category_supply_path(@category, @supply)%></p>
      <p><%= link_to "Delete", category_supply_destroy_path(@category, @supply), method: :delete, data: { confirm: "Are you sure?" }%></p>
    <%end%>-->
  </div>






  <%= render partial: 'supplies/donate', locals: {supply:@supply}%>


<%if current_user.admin?%>
  <h4> <%= link_to "Add a new supply", new_category_supply_path(@category.id)%> </h4>
<%end%>


<script type = "text/javascript" charset = "utf-8">
  $(function(){
    var categoryId
    $(".next-category, .prev-category").on("click", function(){
      if($(this).attr("class") === "next-category"){
        categoryId = parseInt($(".next-category").attr("data-id")) + 1;
      }
      else{
        --categoryId ;
      }
      /*must disable button for next on last elements*/

      if(categoryId > 1){
        $('.prev-category').prop('disabled', false)
      }else{
          $('.prev-category').prop('disabled', true)
      }
      if($(this).attr("last-category-id") == categoryId){
        $(".next-category").prop("disabled", true)
      }else{
        $(".next-category").prop("disabled",false)
      }
      $(".next-supply").attr("data-id", categoryId)
      $.get("/categories/" + categoryId + ".json", function(data){
        console.log(data)
        $(".category-name").text(data["name"])
        /*got the supply to be the same category id as the category shown */
        $(".supply-heading").text(data["supplies"]["name"])
        $(".next-category").attr("data-id", data["id"])
        $(".prev-category").attr("data-id", data["id"])
        /* need to have the supply change to the first supply of the new category*/

      })
    })
    let i = 0; /* in order to go through all of the supplies in the JSON */
    $(".next-supply").on("click", function(){
      var user = $(this).attr("data-userid");
      var id = $(this).attr("data-id")
      $.get("/categories/" + id + ".json", function(data){
        var supplies = data.supplies
        $(".supply-heading").text(supplies[i].name)
        $(".supply-price").text(supplies[i].price);
        $(".supply-quantity").text(supplies[i].quantity);
        $(".supply-description").text(supplies[i].description)
        $(".next-supply").attr("supplyData-id", supplies[i].id)
        if(user === supplies[i].user_id){

          $(".edit-delete-supply").text("<a>hi</a>")
        }
        i+=1
      })
    })

  })
</script>
