<h1> <%= @category.name%> </h1>

<br>

<%= @category.supplies.each do |supply|%>
<h4> <%= supply.name %> </h4>
<p> Price: <%= supply.price%> </p>
<p> Quantity: <%= supply.quantity %> </p>
<p> Description: <%= supply.description%> </p> 
<%end%>
