<%require 'pry'%>

<h1> <%= @category.name%> </h1>
<br>

<br>

<% Supply.most_donations(@category).each do |supply|%>
<h4> <%= "#{supply.name} | #{number_to_currency(supply.donations)} out of #{number_to_currency(supply.goal)} raised." %> </h4> <br>
<p> Price per Item: <%= number_to_currency(supply.price)%> </p>
<p> Quantity needed: <%= supply.quantity %> </p>
<p> Description: <%= supply.description%> </p>
  <% if current_user.id == supply.user_id%>
    <p><%= link_to "Edit", edit_category_supply_path(@category, supply)%></p>
    <p><%= link_to "Delete", category_supply_destroy_path(@category, supply), method: :delete, data: { confirm: "Are you sure?" }%></p>
  <%end%>


  <%= render partial: 'supplies/donate', locals: {supply:supply}%>

<%end%>

<%if current_user.admin?%>
  <h3> <%= link_to "Add a new supply", new_category_supply_path(@category.id)%> </h3>
<%end%>
