

<h1 class="category-name"> <%= @category.name%> </h1> <br>
<button class = "prev-category" data-id="<%=@category.id%>" data-userid="<%=current_user.id%>">Previous Category </button> || <button class="next-category" data-id="<%=@category.id%>"> Next Category</button>
<br><br>

<button class="next-supply" data-id="<%=@category.id%>"> Next Supply </button>
  <div class="supply-info">
  <h4 class="supply-heading"> hi</h4> <br>
  <p class="supply-price"> </p>
  <p class="supply-quantity"> </p>
  <p class="supply-description"></p>
    <% if current_user.id == @supply.user_id%>
      <p><%= link_to "Edit", edit_category_supply_path(@category, @supply)%></p>
      <p><%= link_to "Delete", category_supply_destroy_path(@category, @supply), method: :delete, data: { confirm: "Are you sure?" }%></p>
    <%end%>
  </div>






  <%= render partial: 'supplies/donate', locals: {supply:@supply}%>


<%if current_user.admin?%>
  <h4> <%= link_to "Add a new supply", new_category_supply_path(@category.id)%> </h4>
<%end%>


<script type = "text/javascript" charset = "utf-8">
  $(function(){
    $(".next-category, .prev-category").on("click", function(){
      if($(this).attr("class") === "next-category"){
        var categoryId = parseInt($(".next-category").attr("data-id")) + 1;
      }
      else{
        var categoryId = parseInt($(".prev-category").attr('data-id')) -1;
      }
      /*must disable button for previous/next on first and last elements*/
      $.get("/categories/" + categoryId + ".json", function(data){
        $(".category-name").text(data["name"])
        $(".next-category").attr("data-id", data["id"])
        $(".prev-category").attr("data-id", data["id"])
      })
    })
    let i = 0; /* in order to go through all of the supplies in the JSON */
    $(".next-supply").on("click", function(){
      var id = $(this).attr("data-id")
      $.get("/categories/" + id + ".json", function(data){
        var supplies = data.supplies
        $(".supply-heading").text(supplies[i].name)
        $(".supply-price").text(supplies[i].price);
        $(".supply-quantity").text(supplies[i].quantity);
        $(".supply-description").text(supplies[i].description)
        $(".next-supply").attr("data-id", supplies[i].id)
        i+=1
      })
    })
  })
</script>
