<h1> <%= @category.name%> </h1>

<br>

<%= @category.supplies.each do |supply|%>
<h3> <%= "#{supply.name} | #{amount_to_goal(supply)}" %> </h3>
<p> Price: <%= supply.price%> </p>
<p> Quantity: <%= supply.quantity %> </p>
<p> Description: <%= supply.description%> </p>
<%= form_for supply, url: category_supply_donate_path(@category,supply) do |f|%>
  <%= f.text_field :donations%>
  <%=f.submit "Donate now!"%>
  <%end%>
<%end%>
