

<h1 class="category-name"> <%= @category.name%> </h1> <br>
<button class = "prev-category" data-id="<%=@category.id%>">Previous Category </button> || <button class="next-category" data-id="<%=@category.id%>"> Next Category</button>
<br>

  <div class="supply-info">
  <h4 class="supply-heading"> <bold><%="#{@supply.name} | #{number_to_currency(@supply.donations)} out of #{number_to_currency(@supply.goal)} raised." %></bold> </h4> <br>
  <p class="supply-price"> Price per Item: <%= number_to_currency(@supply.price)%> </p>
  <p class="supply-quantity"> Quantity needed: <%= @supply.quantity %> </p>
  <p class="supply-description"> Description: <%= @supply.description%> </p>
    <% if current_user.id == @supply.user_id%>
      <p><%= link_to "Edit", edit_category_supply_path(@category, @supply)%></p>
      <p><%= link_to "Delete", category_supply_destroy_path(@category, @supply), method: :delete, data: { confirm: "Are you sure?" }%></p>
    <%end%>
  </div>






  <%= render partial: 'supplies/donate', locals: {supply:@supply}%>


<%if current_user.admin?%>
  <h4> <%= link_to "Add a new supply", new_category_supply_path(@category.id)%> </h4>
<%end%>


<script type = "text/javascript" charset = "utf-8">
  $(function(){
    $(".next-category, .prev-category").on("click", function(){
      if($(this).attr("class") === "next-category"){
        var categoryId = parseInt($(".next-category").attr("data-id")) + 1;
      }
      else{
        var categoryId = parseInt($(".prev-category").attr('data-id')) -1;
      }
      /*must disable button for previous/next on first and last elements*/
      $.get("/categories/" + categoryId + ".json", function(data){
        $(".category-name").text(data["name"])
        $(".next-category").attr("data-id", data["id"])
        $(".prev-category").attr("data-id", data["id"])
      })
    })
  })
</script>
