
<h1 class="category-name"> <%= @category.name%> </h1> <br>
<button class = "prev-category" user-id= "<%=current_user.id%>" data-id="<%=@category.id%>">Previous Category </button> <button enabled class="next-category" last-category-id= "<%=Category.last.id%>" data-id="<%=@category.id%>"> Next Category</button>
<br><br>

<div class= "supply-div">
  <% @category.supplies.each do | supply|%>
    <h3><%=supply.name%></h3><br> <h4> Price: <%=supply.price%> | Quantity: <%=supply.quantity%> </h4> <br>
    <h4><%=number_to_currency(supply.amount_to_goal)%> out of <%=number_to_currency(supply.goal)%> raised. </h4>
    <%if supply.description?%>
    <p><%=supply.description%></p>
    <%end%>
    <% if supply.user_id == current_user.id%>
      <a href='/categories/<%=@category.id%>/supplies/<%=supply.id%>/edit'>Edit Supply </a> ||  <a data-method='delete'  href= '/supplies/<%=supply.id%>/destroy' delete-id = '"+ supplies[x]['id']+"'class='delete-supply'> Delete Supply </a>"
      <%end%>
    <%= form_for supply, url: category_supply_donate_path(@category,supply) do |f|%>
      <p><%= f.text_field :donations, value: "0"%>
        <%=f.hidden_field :id%>
      <%=f.submit "Donate now!"%></p>
      <%end%>
    <%end%>
</div>

<%if current_user.admin?%>
  <button class="add-supply"> Add a new supply! </button>
<%end%><br><br>


  <!-- render partial: 'supplies/donate', locals: {supply:@supply}-->

<div class="supply-form">
  <h3> Add a new supply! </h3>
  <%= form_for @supply do |f| %>
  <%= render partial: '/supplies/form' ,locals: {f: f}%>

  <%end%>
</div>
<br><br>

<script type = "text/javascript" charset = "utf-8">
  $(function(){
    var categoryId
    let i=-1
    $(".next-category, .prev-category").on("click", function(){
      i=-1
      $(".supply-div").text("")
      $('.supply-form').css("visibility", "hidden")
      if($(this).attr("class") === "next-category"){
        categoryId = parseInt($(".next-category").attr("data-id")) + 1;
      }
      else{
        categoryId = parseInt($(".prev-category").attr("data-id"))-1 ;
      }

      /* make the current supply data-id the next/previous category id*/
      $.get("/categories/" + categoryId + ".json", function(data){

        $(".category-name").text(data["name"])
        var supplies = data['supplies']
        for(let x= 0; x < supplies.length; x++){
          $(".supply-div").append("<h3 user-id=''>" + supplies[x]['name']+ "</h3><br> <h4> Price: $" + supplies[x]['price']+" | Quantity: " + supplies[x]['quantity']+ "</h4> <br>")

          if(supplies[x]['description'] != null){
            $(".supply-div").append("<p>" + supplies[x]['description'] + "</p>")
          }
          /*add edit and delete links if user created supply, otherwise donate form */
          if($('.prev-category').attr("user-id") == supplies[x]["user_id"]){
          $(".supply-div").append("<a href='/categories/"+categoryId+"/supplies/"+supplies[x]["id"]+"/edit'>Edit Supply </a> || <a data-method='delete'href= '/supplies/"+supplies[x]['id']+"/destroy' delete-id = '"+ supplies[x]['id']+"'class='delete-supply'> Delete Supply </button>")
        }
      }
        $(".next-category").attr("data-id", data["id"])
        $(".prev-category").attr("data-id", data["id"])


        /*disables button for first and last elements*/
        if ($(".next-category").attr("last-category-id") == categoryId){
          $(".next-category").prop('disabled', true)
        }else{
          $(".next-category").prop('disabled', false)
        }
        if($(".prev-category").attr("data-id") == 1){
          $('.prev-category').prop('disabled', true)
        }else{
            $('.prev-category').prop('disabled', false)
        }
      })
    })


    $(".add-supply").on("click", function(){
      $(".supply-form").css('visibility','visible')
    })
    /*posting a new supply dynamically function*/
    $("form").submit(function(event){
      event.preventDefault();
      var categoryFormId = $(".prev-category").attr("data-id")
      var values = $(this).serialize();
      var posted = $.post( '/categories/' + categoryFormId + '/supplies', values)

      posted.done(function(data){
        var supply = data
        $('.supply-div').append("<h3 user-id=''>" + document.getElementById("supply_name").value+ "</h3><br> <h4> Price: $" + document.getElementById("supply_price").value+" | Quantity: " + document.getElementById("supply_quantity").value+ "</h4> <br> ")


      })
    })

  $(document).ready(function(){
    if($(".prev-category").attr("data-id") == 1){
      $('.prev-category').prop('disabled', true)
    }else{
        $('.prev-category').prop('disabled', false)
    }
  })
})
</script>
