
<h1 class="category-name"> <%= @category.name%> </h1> <br>
<button disabled class = "prev-category" data-id="<%=@category.id%>">Previous Category </button> || <button enabled class="next-category" last-category-id= "<%=Category.last.id%>" data-id="<%=@category.id%>"> Next Category</button>
<br><br>

<button class="next-supply" lastsupply-id="0" supplydata-id="1" data-id="<%=@category.id%>"data-userid="<%=@user.id%>"> Next Supply </button>
  <div class="supply-info">
  <h4 class="supply-heading"> hi</h4> <br>
  <p>PRICE: <span class="supply-price"></span> </p>
  <p> QUANTITY: <span class="supply-quantity"> </span></p>
  <p> DESCRIPTION: <span class="supply-description"><span></p>
  <p class="edit-delete-supply"></p>
  </div>






  <%= render partial: 'supplies/donate', locals: {supply:@supply}%>


<%if current_user.admin?%>
  <h4> <%= link_to "Add a new supply", new_category_supply_path(@category.id)%> </h4>
<%end%>


<script type = "text/javascript" charset = "utf-8">
  $(function(){
    var categoryId
    let i=0
    $(".next-category, .prev-category").on("click", function(){
      i=0
      if($(this).attr("class") === "next-category"){
        categoryId = parseInt($(".next-category").attr("data-id")) + 1;
      }
      else{
        --categoryId ;
      }
      /*disables button for first and last elements*/
      if ($(".next-category").attr("last-category-id") == categoryId){
        $(".next-category").prop('disabled', true)
      }else{
        $(".next-category").prop('disabled', false)
      }
      if(categoryId > 1){
        $('.prev-category').prop('disabled', false)
      }else{
          $('.prev-category').prop('disabled', true)
      }
      /* make the current supply data-id the next/previous category id*/
      $(".next-supply").attr("data-id", categoryId)
      $(".next-supply").click()
      $.get("/categories/" + categoryId + ".json", function(data){

        $(".category-name").text(data["name"])
        /*got the supply to be the same category id as the category shown */
        $(".supply-heading").text(data["supplies"]["name"])
        $(".next-category").attr("data-id", data["id"])
        $(".prev-category").attr("data-id", data["id"])
        /* need to have the supply change to the first supply of the new category*/
        $(".next-supply").attr("data-id", data["id"])

      })
    })
    $(".next-supply").on("click", function(){
      $(".edit-delete-supply").text("");
      var user = $(this).attr("data-userid");
      var id = $(this).attr("data-id");
      var supplyId = $(this).attr("supplydata-id");

      $.get("/categories/" + id + ".json", function(data){
        var supplies = data["supplies"]
        $(".supply-heading").text(supplies[i]["name"])
        $(".supply-price").text(supplies[i]["price"]);
        $(".supply-quantity").text(supplies[i]["quantity"]);
        $(".supply-description").text(supplies[i]["description"])
        $(".next-supply").attr("supplydata-id", supplies[i]["id"])
        $(".next-supply").attr("lastsupply-id", supplies[supplies.length-1]["id"])
        /*disable next supply button*/
        if ($(".next-supply").attr("supplydata-id") == $(".next-supply").attr("lastsupply-id")){
          $(".next-supply").prop("disabled", true)
        }else{
          $(".next-supply").prop("disabled",false)
        }
        supplyId = $(this).attr("supplyData-id");
        if(user == supplies[i].user_id){
          /* need to fix delete link*/
          $(".edit-delete-supply").append('<a href="/categories/' + id + '/supplies/' + supplyId + '/edit" class="edit-supply">Edit</a> || <button class="delete-supply">Delete</button> ')
          /*$(".edit-delete-supply").append('<a href="/categories/' + id + '/supplies/' + supplyId + '/destroy" class="delete-supply">Delete</button>')*/
        }
        i+=1
      })
    })
    $(".delete-supply").on("click", function(){
      $.post("/supplies/"+ $(this).attr("delete-id")+"/destroy",{supply_id:$(this).attr("delete-id"),action:'delete'})
    })

  })
  $(document).ready(function(){
    $(".next-supply").trigger('click')
  })
</script>
