<!DOCTYPE html>
<html>
<head>
  <title>ToolsForSchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class = "header">
    <li class = "header-list"> <%= link_to "Tools For School Home", root_path%> </li>
  
    <% if current_user%>
      <li class = "header-list"> Signed in as <%=current_user.email%> </li>
      <li class = "header-list"> <%=link_to "Sign Out", users_signout_path%> </li>
    <%else%>
      <li class = "header-list"><%= link_to "Sign Up", new_user_registration_path%></li>
      <li class = "header-list"> <%= link_to "Sign In", new_user_session_path%></li>
    <%end%>
  </ul>
<%= yield %>

</body>
</html>
